<div class="subsect-box">
  <h2 class= "subsect-head subheader"> About the Yearbook</h2>
</div>
<div id ="about-content" class="row">
  <div id="about-content-container" class= "small-8 columns">
    <div id="about-text"> 
      <p id="about-text-align" class="subheader"> 
        Lorizzle dolizzle sit amet, check out this adipiscing my shizz. Nullam you son of a bizzle velizzle, things volutpizzle, shizznit shizzle my nizzle crocodizzle, that's the shizzle vizzle, izzle. Pellentesque eget bow wow wow. Sizzle erizzle. Yo mamma izzle yippiyo dapibizzle fo tempizzle dope. Maurizzle pellentesque i saw beyonces tizzles and my pizzle went crizzle izzle turpizzle.
      </p>
    </div>
  </div>
  <div id= "about-picture-align" class="small-4 offset-small-1 columns">
    <div id="about-circle">
      <div class="about-circle"></div>
    </div>
  </div>
</div>