<div id="countdown" class="row circle-align">
  <div id="circle-1-cont" class="small-3 column">
    <div id="circle-1">
      <div id="buy-circle">
        <div id="days" class="number">0</div>
        <div class="text"> days </div>
      </div>
    </div>
  </div>
  <div id="circle-2-cont" class="small-3 column">
    <div id="circle-2">
      <div id="buy-circle">
        <div id="hr" class="number"> 0 </div>
        <div class="text"> hours </div>
      </div>
    </div>
  </div>
  <div id="circle-3-cont" class="small-3 column">
    <div id="circle-3">
      <div id="buy-circle">
        <div id="min" class="number"> 0 </div>
        <div class="text"> minutes </div>
      </div>
    </div>
  </div>
  <div id="circle-4-cont" class="small-3 column">
    <div id="circle-4">
      <div id="buy-circle">
        <div id="sec" class="number"> 0 </div>
        <div class="text"> seconds </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="subheader buy-headline">Purchase a Yearbook before time runs out!</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="subheader buy-subhead">Prices go up on Jan. 1st! Make checks payable to WHS Yearbook </h2>
  </div>
</div>

