<div class="subsect-box">
  <h2 class= "subsect-head subheader"> Apply today!</h2>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
    <h2 class= "apply-headline subheader">
      Do you like designing? Lots of food? Making new friends? Then apply for the yearbook today! 
    </h2>
  </div>
</div>
<div class="apply-link-container">
  <a href="#" class="apply-button round large">Application</a>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
    <h2 class= "apply-subhead subheader">The deadline for applying for staff is January 18.</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
    <h2 class= "apply-subhead subheader">Make sure to turn all applications in to Room 28 by 3:00PM! No exceptions!</h2>
  </div>
</div>