<ul data-orbit>
  <li class="pic1" data-orbit-slide="headline-1">
    <div class="main-box">
      <h2 class="main-headline subheader"> Kaleidoscope </h2>
      <h2 class="main-subhead subheader">Inspired Design</h2>
      <a href="#about" id="scrolling" class="main-button large subhead">Explore</a>
    </div>
  </li>
  <li class="pic2" data-orbit-slide="headline-2">
    <div class="main-box">
      <h2 class="main-headline subheader"> Kaleidoscope </h2>
      <h2 class="main-subhead subheader">Inspired Design</h2>
      <a href="#about" id="scrolling" class="main-button large subhead">Explore</a>
    </div>
  </li>
  <li class="pic1" data-orbit-slide="headline-3">
    <div class="main-box">
      <h2 class="main-headline subheader"> Kaleidoscope </h2>
      <h2 class="main-subhead subheader">Inspired Design</h2>
      <a href="#about" id="scrolling" class="main-button large subhead">Explore</a>
    </div>
  </li>
</ul>