<div class="hi">
  <div id="top" class="main">
    <div class="main-orbit">
      <%= render 'static_pages/main' %>
    </div>
    <div id="about" class= "second">
      <%= render 'static_pages/about' %>
    </div>
    <div id="buy" class="third">
      <%= render 'static_pages/buy' %>
    </div>
    <div id="contact" class="fourth">
      <%= render 'static_pages/contact' %>
    </div>
    <div id="slides" class="fifth">
      <div class="sampleClass">Hello</div>
    </div>
  </div>
</div>
